* {
    font-family: "Gill Sans MT", Calibri, Trebuchet MS, sans-serif;
    color: dimgray;
  }
  
  .navbar-text-size {
    font-size: 22px;
  }
  
  .logo {
    color: cornflowerblue;
    font-family: "Fredoka One", cursive;
    font-size: 30px;
    font-weight: 600;
  }
  
  .heading {
    margin-top: 100px;
    font-family: "Gill Sans MT", Calibri, Trebuchet MS, sans-serif;
    font-size: 50px;
  }
  
  .blue-btn {
    background-color: rgb(129, 173, 255);
    color: rgb(51, 51, 51);
  }

  .btn-margin {
    margin-bottom: 10px;
  }
  
  .home-btn-width {
    width: 200px;
  }
  
  .img-margin {
    margin-top: 25px;
  }
  
  .login {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .width {
    width: 350px;
  }
  
  .form-margin {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .signUpPrompt {
    margin-top: 15px;
  }
  
  .details-font-size {
    font-size: 20px;
  }
  
  .choosing-to-bank {
    margin-top: 35px;
    font-size: 35px;
  }
  
  .sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #2196f3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  
  .nowLogIn {
    font-size: 20px;
  }
  
  .trans-btns {
    width: 150px;
  }
  
  .trans-fields {
   margin-top: 8px; 
  }

  .slide-right {
    animation: 2s slide-right 0s forwards;
      transform:translateX(-100%);
  }

  @keyframes slide-right {
    to {
      transform:translateX(0);
    }
  }




  /* About Page */

  .header-margin {
    margin-top: 25px;
    margin-bottom: 5px;
  }

  .motto {
    color: cornflowerblue;
    font-family: "Fredoka One", cursive;
    font-size: 40px;
    font-weight: 400; 
  }

  .about-logo {
    color: cornflowerblue;
    font-family: "Fredoka One", cursive;
    font-size: 60px;
    font-weight: 500;
  }

  .about-text {
    margin-top: 30px;
    font-size: 30px;
  }

  .email-text {
    font-size: 20px;
  }

  .about1 {
    animation: 2s slide-right 0s forwards;
      transform:translateX(-100%);
  }

  @keyframes about1 {
    to {
      transform:translateX(0);
    }
  }

  .about2 {
    animation: 2s slide-right .5s forwards;
      transform:translateX(-100%);
  }

  @keyframes about2 {
    to {
      transform:translateX(0);
    }
  }

  .about3 {
    animation: 2s slide-right 1s forwards;
      transform:translateX(-100%);
  }

  @keyframes about3 {
    to {
      transform:translateX(0);
    }
  }

  .about4 {
    animation: 2s slide-right 1.5s forwards;
      transform:translateX(-100%);
  }

  @keyframes about4 {
    to {
      transform:translateX(0);
    }
  }

  .about-bttm-margin {
    margin-bottom: 100px;
  }

  .italic {
    font-style: italic;
  }

  /*Host Page*/
  .host-bttm {
    margin-bottom: 120px;
  }

  .cntr-txt {
    text-align: center;
  }

  .modal-bal {
    border: 2px solid rgb(223, 223, 223);
    border-radius: 5px;
  }